{% extends "catalog/base_generic.html" %}

{% block content %}
  {% for author in author_list%}
    <h3><a href="{% url 'catalog:authors_detail' author.id %}">{{ author.last_name }}</a></h3>
    <p> Authors first : {{ author.first_name }} </p>
    <p>date of birth : {{ author.date_of_birth }}</p>
    <p>date of death : {{ author.date_of_death }}</p>
    <hr>
  {%  endfor %}
{% endblock %}
