{% extends "catalog/base_generic.html" %}

{% block content %}
<p> Authors first : {{ author.first_name }} </p>
<p>date of birth : {{ author.date_of_birth }}</p>
<p>date of death : {{ author.date_of_death }}</p>
{% endblock %}
